.App {
  text-align: center;
 
}

.Header {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  height: 110px;
  background-color: #426770;
}

.displayName {
  display: inline-flex;
  color: white;
  margin-top: 30px;
}

.Navigation {
  position: relative;
  margin: 0 auto;
}

.innerLink {
  display: inline-flex;
  color: white;
  padding: 20px;
  font-size: 25px;
  text-decoration: none;
}

.navbar {
  margin-top: 5px;
}
.leftHead {
  color: white;
  display: inline-flex;
  justify-content: baseline;
  text-align: left;
  grid-column: 1;
  position: relative;
}

.rightHead {
  color: white;
  display: inline-flex;
  text-align: right;
  position: relative;
  grid-column: 2;
}

.mainLogo {
  display: grid;
  grid-column: 1;
  height: 100px;
  width: 140px;
}

.bodyPage {
  
}